* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}

/* =====================================================================================
                                 All Common CSS end
===================================================================================== */

/* =====================================================================================
                                 input area start
===================================================================================== */
.input__area {
  display: flex;
  justify-content: center;
}
.input__item {
  width: 200px;
  height: 40px;
  padding: 10px 20px;
}
.input__item::placeholder {
  padding: 0 30px;
}
.submit__button {
  width: 100px;
  height: 40px;
  cursor: pointer;
}
/* =====================================================================================
                                 input area end
===================================================================================== */

.main__area {
  height: 100vh;
  display: flex;
  align-items: center;
}
.box {
  width: 500px;
  background: tomato;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
}
.name__box {
}
.name {
  color: #333;
}
.post__box {
}
.post {
  color: #444;
  padding: 50px 0;
}
.button__box {
  padding-bottom: 30px;
}
.button__item {
  width: 100px;
  padding: 6px 0;
  cursor: pointer;
}
