* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
body {
  background: #dfe6e9;
}

/* =====================================================================================
                                 All Common CSS end
===================================================================================== */

/* =====================================================================================
                                 input area start
===================================================================================== */
.input__area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  margin: 15px 0;
}
.input__item {
  width: 360px;
  height: 50px;
  padding: 10px 40px;
  border: none;
  border-radius: 50px;
  transition: all linear 0.13s;
}
.input__item::placeholder {
  text-align: center;
}
.input__item:focus-visible {
  outline: 1.5px solid #9b59b6;
  width: 450px;
}
.submit__button,
.save__button {
  font-weight: bold;
  background-color: #9b59b6;
  color: #fff;
  width: 200px;
  height: 45px;
  cursor: pointer;
  letter-spacing: 1px;
  border: 1.5px solid transparent;
  border-radius: 50px;
  transition: all linear 0.13s;
}
.submit__button:hover,
.save__button:hover {
  color: #9b59b6;
  background-color: #fff;
  border: 1.5px solid #9b59b6;
}
/* =====================================================================================
                                 input area end
===================================================================================== */

.main__area {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.box {
  width: 500px;
  background: #9b59b6;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
}
.name__box {
}
.name {
  color: #fff;
}
.post__box {
}
.post {
  color: #fff;
  padding: 50px 0;
}
.button__box {
  padding-bottom: 30px;
}
.button__item {
  width: 100px;
  padding: 6px 0;
  cursor: pointer;
}
